* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(46, 46, 46);
}

.container-header {
    color: white;
    font-size: 150%;
    background-color: rgb(18, 18, 18);
}

.container-header h1 {
    text-align: end;
    padding-right: 2%;
    padding: 5% 5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5% 3% ;
    gap: 40px;
}

.card-img {
    background-color: rgb(22, 23, 33);
    border-radius: 4%;
    width: 330px;
    height: 550px;
    display: flex;
    justify-content: center;
    transition-property: width, height,background-color;
    transition-duration: 0.5s, 0.5s, 0.2s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0.3s, 0.3s, 0s;

}

.card-img img {
    margin-top: 5%;
    width: 90%;
    height: 80%;
    border-radius: 2%;
}



.card-img:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.35);
    width: 360px;
    height: 600px;
    background-color: rgb(55, 55, 89);
}